/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import url("https://unpkg.com/@catppuccin/palette/css/catppuccin.css");

i {
  color: var(--ctp-mocha-surface2);
  margin-right: 7px;
}

body {
  color: var(--ctp-mocha-text);
  font-family: sans-serif;
  font-size: 12px;
  overflow: hidden;
}

div,
span,
p {
  cursor: default;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}

#root {
  background: var(--ctp-mocha-crust);
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 1.5vw;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.logo,
.binding-mode,
.tiling-direction,
.paused-button,
.network,
.memory,
.cpu,
.battery {
  margin-right: 20px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: var(--ctp-mocha-surface0);
  margin-right: 4px;
  padding: 4px 8px;
  color: var(--ctp-mocha-text);
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &.displayed {
    background: var(--ctp-mocha-surface2);
  }

  &.focused,
  &:hover {
    background: var(--ctp-mocha-mauve);
    color: var(--ctp-mocha-crust);
  }
}

.binding-mode,
.tiling-direction,
.paused-button {
  background: var(--ctp-mocha-surface0);
  color: var(--ctp-mocha-text);
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}

.cpu .high-usage {
  color: var(--ctp-mocha-red);
}

.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}
